@import url('href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap" rel="stylesheet"');
:root {
  --c-strong-cyan: hsl(171, 66%, 44%);
  --c-light-blue: hsl(233, 100%, 69%);
  --c-strong-cyan-darker: hsl(171, 65%, 38%);
  --c-light-blue-darker: hsl(233, 68%, 62%);
  --c-dark-greyish-blue: hsl(210, 10%, 33%);
  --c-grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-dark-greyish-blue);
}

p {
<<<<<<< HEAD
  font-size: 1.4rem;
=======
  font-size: 1.8rem;
>>>>>>> b6f9eedad831c6a0f1e101109c1053a029965045
  color: var(--c-grayish-blue);
}

a {
  text-decoration: none;
  color: var(--c-dark-greyish-blue);
}

<<<<<<< HEAD
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  width: 90%;
  margin: 0 auto;
}

.section-features {
  min-width: 100rem;
  width: 90%;
  margin: 0 auto;
}

.section-intro {
  padding: 4rem 0;
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
}

.section-intro__heading {
  margin: 2rem 0;
}

=======
ul {
  list-style: none;
}

.section {
  width: 90%;
  max-width: 85rem;
  margin: 0 auto;
}

>>>>>>> b6f9eedad831c6a0f1e101109c1053a029965045
html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.5;
}

body {
  font-size: 1.8rem;
  background-color: black;
  background: url("images/bg-header-desktop.png") no-repeat;
  background-size: 100%;
  background-position: top;
}

.header {
  text-align: center;
}

.header__content {
<<<<<<< HEAD
  padding: 8rem 0;
  max-width: 55rem;
=======
  padding: 10rem 0;
  max-width: 60rem;
>>>>>>> b6f9eedad831c6a0f1e101109c1053a029965045
  margin: 0 auto;
}

.header__content__heading {
  margin: 2rem 0;
<<<<<<< HEAD
  font-size: 3.4rem;
=======
>>>>>>> b6f9eedad831c6a0f1e101109c1053a029965045
}

.header__btns {
  margin-top: 2rem;
}

.btn {
  margin: 1rem;
  display: inline-block;
  padding: 1.5rem 3rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10rem;
  text-align: center;
}

.btn-green {
  background: var(--c-strong-cyan);
  -webkit-box-shadow: 0 0.3rem 0 var(--c-strong-cyan-darker);
          box-shadow: 0 0.3rem 0 var(--c-strong-cyan-darker);
}

.btn-purple {
  background: var(--c-light-blue);
  -webkit-box-shadow: 0 0.3rem 0 var(--c-light-blue-darker);
          box-shadow: 0 0.3rem 0 var(--c-light-blue-darker);
}
<<<<<<< HEAD

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.features__img {
  margin-left: -18rem;
}

.features__text-block {
  width: 60%;
  margin-bottom: 3rem;
}

.features__text-block__heading {
  margin-bottom: .5rem;
}

.devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.devices__img {
  margin: 0 auto;
}

.tools {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.tools__intro {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.tools .features__text-block {
  text-align: center;
}

.tools .features__text-block img {
  margin-bottom: 1rem;
}

.featured-on {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.cta__btns {
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  margin-top: 10rem;
}

.footer__logo {
  width: 15%;
}

.footer__logo img {
  width: 4rem;
}

.footer__nav {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-grid-columns: (15rem)[3];
      grid-template-columns: repeat(3, 15rem);
}

.footer__social {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social img {
  width: 2rem;
}
=======
>>>>>>> b6f9eedad831c6a0f1e101109c1053a029965045
/*# sourceMappingURL=style.css.map */