@import url('href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap" rel="stylesheet"');

:root{
//COLORS
    --c-strong-cyan: hsl(171, 66%, 44%);
    --c-light-blue: hsl(233, 100%, 69%);

    --c-strong-cyan-darker: hsl(171, 65%, 38%);
    --c-light-blue-darker: hsl(233, 68%, 62%);
    
    
    --c-dark-greyish-blue: hsl(210, 10%, 33%);
    --c-grayish-blue: hsl(201, 11%, 66%);


}

// ///////////////////////////
// SOME RESETS
// //////////////////////////





*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--c-dark-greyish-blue);
}
p{
    font-size: 1.4rem;
    color: var(--c-grayish-blue);
}

a{
    text-decoration: none;
    color: var(--c-dark-greyish-blue);
}
ul,
li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}


// ///////////////////////////
// HELPER CLASSEs
// //////////////////////////


.section{
    width: 90%;
    margin: 0 auto;

     &-features{
       min-width: 100rem;
       width: 90%;
       margin: 0 auto;
    }
    &-intro{
        padding: 4rem 0;
        max-width: 55rem;
        margin: 0 auto;
        text-align: center;

        &__heading{
            margin: 2rem 0;
        }
    }

}

// ///////////////////////////
// GLOBAL STYLES
// //////////////////////////

html{

    font-size: 62.5%;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.5;
}

body{
    font-size: 1.8rem;
    background-color: black;
    background: url('images/bg-header-desktop.png') no-repeat;
    background-size: 100%;
    background-position: top; 

}




.header{
    text-align: center; 

    &__content{
        padding: 8rem 0;
        max-width: 55rem;
        margin: 0 auto;

        &__heading{
            margin: 2rem 0;
            font-size: 3.4rem;
        }
    }


    &__btns{
        margin-top: 2rem;
    }


}




.btn{
    margin: 1rem ;
    display: inline-block;
    padding : 1.5rem 3rem ;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10rem;
    text-align: center;

    &-green{
        background: var(--c-strong-cyan);
        box-shadow: 0 .3rem 0 var(--c-strong-cyan-darker);
    }
    
    &-purple{
        background: var(--c-light-blue);
        box-shadow: 0 .3rem 0 var(--c-light-blue-darker);
    }

}




.features{
    display: flex;
    // flex-wrap: wrap;
    gap: 5rem;

    &__img{
   margin-left: -18rem;
        img{
            
        }
    }


    &__text-block{
        width: 60%;
        margin-bottom: 3rem;

        &__heading{
            margin-bottom: .5rem;
        }
    }

}


// @media only screen and (min-width: 1450px){
//     .features{


//             &__img{
//                 margin-left: auto;
//                 grid-column: -1 / 0;
                
//                 img{
//                     max-width: 100%;
//                     height: auto;
//                 }
//             }


//     }

//     .section-features{
//         min-width: 150rem;
//         width: 90%;
//         margin: 0 auto;
//      }
// }





.devices{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img{
        margin: 0 auto;
    }
}



.tools{
   display: grid;
   grid-template-rows: max-content 1fr;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: center;

   &__intro{
       grid-column: 1 / -1;
       margin-bottom: 1rem;
   }

   .features__text-block{
       text-align: center;

       img{
           margin-bottom: 1rem;
       }
   }

}



.featured-on{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    margin: 3rem auto;
}



.cta{


    &__btns{
        text-align: center;
    }
}


.footer{
    display: flex;
    font-size: 1.4rem;
    margin-top: 10rem;

    &__logo{
        width: 15%;
        img{
         width: 4rem;
        }
    }

    &__nav{
        width: 70%;
        display: grid;
        align-content: flex-start;
        justify-content: start;
        grid-template-columns: repeat(3, 15rem);
    }

    &__social{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;       

        img{
            width: 2rem;
        }
    }

}